*{
  padding: 0;
  margin:0;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*nav bar */

nav {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: static;
  left: 0;
  width: 100%;
  z-index: 100000;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;

}

nav img {
  height: 120px;
  width: 120px;

}

nav ul {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 21px;
  position: relative;
}

nav ul li a {
  color: #ffffff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center
}

a.active,a:hover {
  background: orange;
  color:black;
  transition: .5s;
}

a{
  color:#000000;
  text-decoration:none;
  background-color:transparent;
}

a:hover{
  color:#000000;
}
/*nav bar */

/* video*/

.commercial video{
  position: static;
}


/* footer*/

footer{
  position: static;
  background-image: linear-gradient(to bottom right,gray, gray, black);
  height: auto;
  width: auto;
  margin-top: -20px;
  font-family: "Open Sans";
  padding-top: 30px;
  color:whitesmoke;
  box-shadow: 0 -5px 5px -5px #000000;

}
.footerContainer{
width: 100%;
padding: 70px, 30p, 20px;
}

.socials{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5;
  width: 100%;
  text-align:center;
}
.socials a{
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 36px;
  background-color: #222222;
  color: #fff;
  margin: 5px 12px 20px 0;
}
socials a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
/*hover hover sa social icons, kasi why not*/

.socials a:hover{
  background-color: black;
  transition: 0.5s;
}

/* for description and feedback*/

.description p{
  margin-bottom: 10px;
  text-align:center;
  margin-left: 27%;
  margin-right: 27%;
  margin-top: 25px;
  font-family: 'Roboto Condensed', sans-serif;

}

#feedbackbtn{
  color: white;
  margin: 0; 
  border-radius:12px;
  padding: 2px;
  background-color:#1d1c1b;
  width:15%;
  margin-left: 42%;
  margin-bottom: 25px;
}

/* navigation bbar sa ibaba*/
.navfooter{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px;
}

.navfooter li{
  margin: 1px;
  border-right: 1px #1d1c1b solid;
  padding: 0 10px;
  float: left;
}

.navfooter a{
  color:#1d1c1b;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.navfooter a:hover{
 color: #6c511e;
 transition: 0.2s; /*transition time*/
 background: transparent;
}

.navfooter li:last-child {
  border-right: none;
}
/*navigation bar sa ibaba*/

.FooterBottom{
  background-color: #000;
  padding: 15px;
  text-align: center;
}
.FooterBottom p{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.designer{
  opacity: 0.7;
  color: orange;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* footer */



